include include/header.pug

body#top-header
  //- HERO
  section.page-banner-area.page-about
    .overlay
    //- Content
    .container
      .row.justify-content-center
        .col-lg-9.col-md-12.col-12.text-center
          .page-banner-content
            h1.display-4.font-weight-bold Creative IT Agency
            p We&apos;d love to talk about how we can help you.
      //- .row
    //- .container
  section.section
    .container
      .row
        .col-lg-6
          h1
            | About US
          p.lead(style='text-align: justify;')
            | Freak Developets is a web design and development company that focuses on quality, innovation and positive
            | ROI for our clients. Call us a technology driven firm that combines design aesthetics with technology to
            | bring results to grow our client&rsquo;s businesses.
          p.lead(style='text-align: justify;')
            | Established in the year 2022 with a small number of clients. We pride ourselves in great work ethic,
            | integrity, and end-results. Our daily tasks involve plotting ideas that help connect clients with their
            | target audiences. We combine aesthetics with technology to add real value for our clients.
          p.lead(style='text-align: justify;')
            | Our offerings span the whole gamut of web services including
          ul(style='list-style: square;')
            li Web Design
            li Web Developement
            li Web Hosting
            li Domain Registration
            li Website Maintainance
        .col-lg-6
          img#about.img-fluid(src='../assets/images/about/about.jpg' alt='')
  section#projects-wrap.section
    .overlay
    .container
      .row
        .col-lg-6
          .section-heading
            h1.text-white
              | Build Your Budget Friendly Website with Us.
        .col-lg-6
          p.lead.text-white(style='text-align: justify;')
            | We are trying to deliver 100% quality product and success their business to achieve ultimate goal.
            | Build your website with the best and budget friendly website design and development service.
            | Build your digital bridge through the expertise of freak developers. We provide you with top-notch service,
            | meant to increase your traffic and rate of conversion.

include include/footer.pug